
            #topbar {
                
                width: 1000px;
                margin: 0 auto;        
                height: 40px;
            }    
            
            body {
                
                margin: 0;
                padding: 0;
                font-family: Helvetica,Arial,freesans,sans-serif;
            }
            
            #logo {
                
                margin-top: 8px;
                margin-left: 15px;
                width: 80px;
                float: left;
                margin-right: 8px;
                
            }
            
            .topbar-section {
                
                float: left;
                border-left: 1px #CCCCCC solid;
                height: 100%
                
            }
            
            #signin-image {
                
                width: 46px;
                float: left;
                
            }
            
            #topbar-text {
                
                font-weight: bold;
                font-size: 85%;
                position: relative;
                top:14px;
                padding-left: 10px;
                padding-right: 10px;
                
            }
            
            #more-arrow {
                
                width:25px;
                float: right;
                margin-left: 45px;
                margin-top: 10px;
                                
            }
            
            #search-box {
                
                background-color: #E4E4E4;
                border: none;
                font-weight: bold;
                font-size: 12px;
                padding: 5px;
                margin: 5px 0px 5px 5px;
                float: left;
                
            }
            
            #magnifying-glass {
                
                height: 25px;
                margin-top: 5px;
                
            }
            
            .clear {
                
                clear:both;
                
            }
            
            #menu-bar-container {
                
                border-top: 1px solid #CCCCCC;
                background-color: #BB1919;
                width:100%;
                height: 90px;
                
            }
            
            #menu-bar {
                
                width: 1000px;
                margin: 0 auto;
                
            }
            
            h1 {
                
                padding: 0;
                margin: 0;
                color: white;
                font-size: 40px;
                font-weight: normal;
                padding-top: 10px;
                float:left;
            }
            
            #menu-bar-2-container {
                
                background-color: #BB1919;
                width: 100%;
                
            }
            
            #menu-bar-2 {
                
                width: 1000px;
                margin: 0 auto;
                height: 40px;
                
            }
            
            #menu-bar-2 a {
                
                color: white;
                text-decoration: none;
                padding: 0 10px;
                border-right: 1px solid #BB4545;
                font-size: 14px;
                position: relative;
                top: 9px;

            }

            .no-border {
                
                border: none !important;
                padding: none;
            }
            
            #down-arrow {
                
                height: 10px;
                position: relative;
                top: 10px;
                
            }
            
            #page-container {
                
                width: 1000px;
            }
            
            h2 {
                
                font-weight: normal;
                margin-left: 10px;
                font-size: 20px;
                border-bottom: 3px solid #A91717;
                width: 40px;
            }
            

            #title a {
   
                font-weight: bold;
                color: gray;
                font-size: 28px;
                font-family: sans-serif;
                text-decoration: none;
                width: 250px;

            }
            
            #title a:hover {
                
                color: #1380A1;
                text-decoration: underline;
            }
            
            #article-summary {
                
                color: #5a5a5a;
                font-size: 15px;
                width: 300px;
            }
            
            .clock {
                
                height:20px;
                position: relative;
                top: 3px;
                
            }
            
            #topic-link {
                
                text-decoration: none;
                color: #505050;
                border-left: 1px solid #CCCCCC;
                padding-left: 8px;
            }
            
            #topic-link:hover {
                
                color: #1380A1;
                
            }
            
            #article-container {
                
                float: right;
                width:350px;
            }
            
            #main-article-image {
                
                width: 600px;
                float:left;
                margin-left: 18px;
                
                
            }
            
            .article-link {
                
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
            
            .article-link:hover {
                
                color: #1380A1;
                
            }
            
            .article-side-image {
                
                float:left;
                margin-left: 18px;
                margin-bottom: 18px;
                margin-right: 10px;

                
            }
            
            .side-article {
                
                float: left;
                margin-top: 20px;
                
            }
            
            #side-article-summary {
                
                color: #5a5a5a;
                font-size: 15px;
                width: 500px;
            }
         